<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wechat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wechat.MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.example.context.Context_Setting" />
        <activity android:name="com.example.start.DengLu" />
        <activity android:name="com.example.start.Zhuce" />
        <activity android:name="com.example.guide.Guide" />
        <activity android:name="com.example.start.Start" />
        <activity android:name="com.example.wechat.Search" />
        <activity android:name="com.example.context.ChatRoom" />
        <activity android:name="com.example.context.ChatMessage" />
        <activity android:name="com.example.context.Context_Money" />
        <activity android:name="com.example.context.Context_Collect" />
        <activity android:name="com.example.context.Context_xiance" />
        <activity android:name="com.example.context.Context_penyouquan" />
        
        <activity android:name="com.example.guide.Welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.context.Context_kabao">
        </activity>
        <activity
            android:name="com.example.context.Context_biaoq">
        </activity>
    </application>

</manifest>